<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {% block meta %}
        <title>Spotify Controller</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/furtive/2.3.0/furtive.css" />
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block body_js %}{% endblock %}
</body>
</html>
